[2018-09-12 12:53] steely-glint opened #1 "IoT use-case requires direct one-way media support"
Many IoT usecases (security cameras, baby monitors, drones etc) use unidirectional media
Unfortunately the trend in the current specification is to force such media though a TURN server since
that is the only usable candidate that will be generated without a GUM permission.

The costs (and latency) of running every video camera through TURN would negate two of webRTC's main advantages in this prod

[2018-09-12 14:51] lgrahl commented on #1
Sorry for the noise but +1000.

[2018-09-12 20:13] jamespearce2006 commented on #1
I completely agree with @steely-glint.

WebRTC is the only way of implementing ultra-low-latency real-time streaming on the Web. WebRTC is increasingly used for one-way real-time streams, rather than for two-way communications.

Requiring user permission for ICE candidate discovery is perfectly reasonable. However, doing that via getUserMedia is a round hole, and assumes that all WebRTC applicatio

[2018-09-13 07:03] dbrgn commented on #1
Another datapoint here :) I work on a project where we provide a web application that can connect to a smartphone app and exchange data. We are perfectly fine asking the user for "permission to establish a direct connection", but "please let us access your microphone and camera in order to load data from your smartphone" is definitely a no-go, no matter how much you explain it to the user.

When t

[2018-09-13 10:41] lgrahl commented on #1
Now, I can already hear "but there is NAT hair-pinning!". But:

1. There are more routers that don't support NAT hair-pinning than you would think. The amusing result is that a relay connection is being established when both are in the same network. And a direct connection is being established only when both aren't in the same network.
2. Quite a substantial amount of ISPs (often cable providers)

[2018-09-21 12:57] AdamSobieski opened #2 "WebRTC and Real-time Translation"
## Introduction
Real-time translation is both an interesting and important use case for a next version of WebRTC.

## Speech Recognition, Translation and Speech Synthesis
Approaches to real-time speech-to-speech machine translation include those which interconnect speech recognition, translation and speech synthesis components and services. In that regard, we can consider client-side, on-prem, ser

[2018-09-24 03:51] alvestrand opened #3 "The term "parallel forking" is overloaded and should not be used"
Requirement N02 is formulated as:

The user agent must be able to support parallel forking, including reuse of local ICE candidates and local certificates with multiple Answerers.

The justification for this is given above as:

"Also, “parallel forking” minimizes conference establishment time by allowing a participant to broadcast an Offer to a “room” abstraction (maintained on a server), with oth

[2018-09-26 20:32] aboba commented on #1
@steely-glint @lgrahl  It seems that several use cases may have a requirement for support of one-way media and related permissions support.  This requirement comes up not only in IoT, but in scenarios such as MOOCs (where gUM may not be called until the student asks a question).

I'd also argue that overloading gUM as a universal permissions mechanism for WebRTC 1.0 is becoming unworkable. So we p

[2018-10-04 16:48] alvestrand opened #4 "N04: The term "early media" MUST NOT be used on its own, and MAY be removed."
Requirement N04: "Early media must be supported".

The WG has struggled with early media for a long time, because there are multiple incompatible definitions of what it means.

In this case, the basis is "It is desirable to allow media to be received from responders before the initiator receives an answer."

We are not letting go of security here. So in order to achieve DTLS-level security, the im

[2018-10-04 16:48] alvestrand commented on #4
Note: TLS 1.3 "0-RTT" setup may do the trick, but I think this requires that you're resuming a previous security association.

[2018-10-04 16:51] alvestrand opened #5 "N03: "Bandwidth limit across mesh endpoints" needs clarification or modification"
I think the intent is to impose a global limit across all media connections managed by the game, in order to avoid this single game overloading a bottleneck link. However, normal congestion control with coupled congestion controllers (automatic detection of a common bottleneck) may be a more constructive way forward.

I think it's unrealistic to ask to impose a global limit on everything running i

[2018-10-04 16:53] alvestrand opened #6 "N08: "receive audio/video without a corresponding sender" - not a new requirement?"
I think this is not a new requirement - one way media has been part of the suite since day 1.

[2018-10-04 17:20] alvestrand opened #7 "N11: "as a single message" is implementation, not requirement"
The term "It must be possible for the user agent to transfer large files as a single message" doesn't define "message", and is in direct conflict with many backpressure models.

If the requirement is restated as "It must be possible for the user agent to initiate transfer of a large file with a single API operation", it appears reasonable.

[2018-10-06 13:19] lgrahl commented on #7
Agree. (And that single API operation should take care of handling the flow control.)

[2018-10-06 13:42] lgrahl opened #8 "Can we move away from the terms "offer" and "answer"?"
*Offer* and *answer* are so tighly bound to SDP in our heads that we may want to move away from it to avoid confusion. In addition, if we decide to build on the ORTC model, there is no distinction between these two.

This only affects 2.1 as far as I can see.

[2018-10-06 15:15] lgrahl opened #9 "Mobility backup candidate pairs"
Just to ensure we're talking about the same idea here: If both peers are behind a NAT, the backup candidate pair would most likely be relay-to-relay with both the clients and the TURN server supporting [TURN mobility](https://tools.ietf.org/html/rfc8016), correct? Because in that case, they could continue their connection without any signalling. (New host and srflx candidates could then be exchang

[2018-10-06 15:36] lgrahl opened #10 "Mobility: Peer reflexive candidates"
Consider a host that just changed its network and got a new globally reachable address (IPv6 or no NAT). If that host now sends connectivity checks from its new address to the other peer's remote address, then the remote peer will pick it up as a peer reflexive candidate and the connection can just continue to work. Correct?

If yes: Good. Perhaps we can add it as a note that this is already possi

[2018-10-06 16:21] lgrahl opened #11 ""Cannot be supported in 1.0""
In section 3, the introductory sentence is a little confusing to me. I assume

means

For example, N11 can be supported in 1.0. Just not with the API as we have it now.

[2018-10-06 16:49] lgrahl opened #12 "N14: Already supported by 1.0?"
I don't understand N14 as it's supported by 1.0. What use case does this refer to?

[2018-10-06 16:52] lgrahl opened #13 "N23: Why share media between worker and main thread?"
I'm not sure why it is required to share media between worker and main thread. Can someone elaborate which one of the mentioned use cases requires this and why?

Note that data exchange is already handled by N15, so I assume this is purely about audio/video.

[2018-10-07 15:45] maxogden opened #15 "Distributed hash tables"
Related to the file sharing requirement is the need to do decentralized peer discovery using e.g. a distributed hash table. The existing file sharing requirements focus on throughput and backpressure, but the other ingredient missing for p2p file sharing is a low latency, highly parallel (low overhead) socket.

### Motivation

Making a WebRTC connection now is very slow compared to say UDP hole pu

[2018-10-07 17:03] lgrahl commented on #15
@feross raised another requirement for DHTs. To quote:

Let's phrase these into requirements.

### Reusable Connections

AIf that wasn't controversial enough, let's go to the next requirement.

### Incoming Connections

This raises a couple of questions:

1. How is a new incoming connection being detected? A different username in a STUN binding request? An incoming DTLS connection?
2. How to verif

[2018-10-08 12:16] astojilj opened #16 "N20 Raw media should support various pixel formats"
This is inferred by "raw media" in requirement N20: "The application must be able to obtain raw mediafrom the capture device.", but let's specify it in requirement that raw data needs to support various pixel formats.
ArrayBuffer, used in [ImageCapture takePhoto](https://w3c.github.io/mediacapture-image/#dom-imagecapture-takephoto) via [readAsArrayBuffer(Blob)](https://w3c.github.io/FileAPI/#readA

[2018-10-08 12:59] astojilj opened #17 "Allocate RAW data capture buffer as shared GPU memory buffer"
Let's consider current data flow in processing video stream on GPU:
getUserMedia() => WebGLRenderingContext.texImage2D(HTMLVideoElement)  => processing in WebGL shaders.

An example for this is in [TensorFlow.js](https://github.com/tensorflow/tfjs-core) - after video frame is [uploaded to texture](https://github.com/tensorflow/tfjs-core/blob/27766458746bbc5da44cffcee92ef605fdc1ec5c/src/kernels/web

[2018-12-04 16:28] aboba opened #19 "Remove Secure Communications Use Case"
The "call for adoption" of the secure communications use case disclosed considerable controversy. See thread starting here:
https://lists.w3.org/Archives/Public/public-webrtc/2018Nov/0033.html

Given this, it makes sense to remove this use case.

[2018-12-05 15:52] #19 closed

[2019-01-25 14:04] henbos opened #30 "(How) does SCTP handle CPU-bound congestion on JavaScript thread?"
How is the JavaScript application supposed to be able to apply back pressure?
CC @marinaciocea

The spec says:

I don't see any feedback mechanism to tell the underlying data transport that we're actually done consuming the message. It looks like the underlying transport is free to queue tasks ad-infinitum to fire messages. The message is just taken out of the SCTP buffer and put on a PostTask to

[2019-04-08 16:57] aboba commented on #17
@astojilj Ability to use raw media for machine learning in an efficient manner seems important.  Can we add something general to that effect as a requirement, or do we need to be specific?

[2019-04-08 16:58] aboba commented on #16
One might also add "audio formats" for the audio case.

[2019-04-08 17:03] aboba commented on #12
@lgtahl It *might* refer to the abilty to transfer files without requiring the server to have an `RTCIceTransport`.  As an example, RFC 8441 defines websockets over HTTP/2, which permits multiple "streams" over a single TCP connection, and something similar could be permitted with HTTP/3.  Yet there do not yet exist APIs to support this.

On the other hand, client/server transport is outside the s

[2019-04-08 17:04] aboba commented on #13
@lgrahl Presumably this is to allow CPU-intensive processing (e.g. machine learning algorithms) without disrupting the main thread.

[2019-04-08 17:33] nils-ohlmeier commented on #10
This question appears to imply that ICE has some kind of continuous gathering going on. Which is NOT the case. Once ICE has connected (or failed) the ICE agent will/should ignore new network interfaces (unless/until you do an ICE restart).

[2019-04-08 17:46] aboba commented on #10
@nils-ohlmeier I think this can be concluded from RFC 8445, Section 9:

   The following actions can be accomplished only by using an ICE restart (the agent MUST use ICE restarts to do so):

   o  Change the destinations of data streams.
   o  Change from a lite implementation to a full implementation.
   o  Change from a full implementation to a lite implementation.

Only way I could see it worki

[2019-04-08 18:53] aboba commented on #9
TURN mobility (RFC 8016) is typically used to quickly bring up a selected pair, while checking continues in the background.  If a better (e.g. less expensive) pair is found, the relay candidate can still be used as a backup to allow connectivity to be maintained when switching between interfaces.  The only wrinkle here is if an end-of-candidates indication is sent.

[2019-04-08 18:54] aboba commented on #6
I think what it is referring to is not requiring a sender object.

[2019-04-08 18:56] aboba commented on #5
I think that your suggested intent is what was actually meant.

[2019-04-08 19:04] aboba commented on #4
Agree that "early media" is too vague.  Reality is that an initiator cannot reply to ICE connectivity checks prior to receiving the responder's ICE parameters. So the initiator needs to receive some kind of "answer" first, even if DTLS 1.3 "0-RTT" can be used.

[2019-04-08 19:05] aboba commented on #3
Suggested alternate wording seems to better get at the intended meaning.

[2019-04-08 19:08] aboba commented on #2
Am trying to understand what new functionality is required.  For example, in WebRTC 1.0 it is possible to send an audio stream to a remote peer and receive a translation audio stream and/or a transcription on the WebRTC data channel.

[2019-04-08 19:12] aboba commented on #8
Agreed.

[2019-04-08 22:40] lgrahl commented on #10
I would not like to limit ourselves to what is standardised for ICE as of today.

ICE restarts are moot in a *break before make* scenario if signalling is required. Because signalling is in 99,9% of the cases also affected by the loss of a previous network path. ICE has the potential to solve this (without relay). If one establishes a new path, I don't see why it can't be used. That limitation see

[2019-04-08 22:44] nils-ohlmeier commented on #10
@lgrahl feel free to re-open the IETF ICE WG (about to be closed). But what you desire here is a protocol which can dynamically switch over to new interfaces on the fly. I'm pretty sure if someone would implement something like this he/she would face lots of problems with the streams switching widely back and forth between interfaces between devices with multiple path between them. I'm not saying

[2019-04-08 22:57] lgrahl commented on #10
Not claiming that this is low hanging or anything but...

Doesn't webrtc.org already do on-the-fly path switching? I'm certain I've seen the native stack switch from WiFi to mobile on iOS devices when WiFi dies, without requiring explicit signalling. The only thing that would be different is that one would discover a new path and add that to the list of potential paths for failover.

[2019-04-09 04:10] aboba commented on #10
@lgrahl Prior to nomination, on-the-fly switching via new candidates/pairs is supported in existing standards.  However, after nomination pairs (and candidates) are pruned, so to go beyond TURN mobility, a mechanism is needed to gather additional candidates or renominate pruned candidates.  ORTC supports the former via IceGatherer.gather(), and webrtc.org (via WebRTC-ICE) supports the latter via I

[2019-04-25 20:14] the8472 commented on #15
Isn't that conditional on a session resumption token being available? That is not applicable for DHTs because most DHT RPCs are single-shot, i.e. during lookups you iterate down a path through nodes that you have never seen before and are not likely to visit again anytime soon. Only the starting set from your local routing table and the final set (the target nodes) may be contacted again.

Since a

[2019-04-25 22:56] maxogden commented on #15
Yes sorry 0RTT is not really relevant here, but based on a talk Ian Swett gave about the project a few years ago now the latency for 1RTT with QUIC is also supposed to be greatly reduced, which when you are doing many hops could have a big impact on overall query time (because as stated above WebRTC is currently something like 5RTT per connection)

[2019-04-25 23:11] the8472 commented on #15
My understanding is that there are no deployed webrtc based DHT implementation. So the improvement from 5RTT to 1RTT is entirely hypothetical. Compared to actually deployed UDP-based implementations it's still 2 times worse. For interactive uses that would also mean the latency floor is twice as large as it is in native applications.

[2019-04-25 23:57] maxogden commented on #15
We'll never see one deployed if we don't get a lower latency WebRTC transport :)

[2019-05-09 14:38] na-g opened #22 "Should DataChannels have a getStats() method, should they be usable as selector to the getStats algorithm?"
As it stands if one wants to check the stats of a `RTCDataChannel` one needs to poll the stats of the entire `RTCPeerConnection`. Does it make sense to allow `RTCDataChannel` stats to be accessed directly like `RTCRtpSender`s and `RTCRtpReceiver`s via a `getStats()` method? Does that also imply that `RTCDataChannel`s should be accepted as a selector for the `getStats()` algorithm?

[2019-05-13 21:01] aboba commented on #9
Within ICEbis (RFC 8445) a pair involving a relay candidate and TURN mobility ("backup pair") can be brought up right away while the search continues for a better candidate.  If the "better" candidate pair loses connectivity, the "backup pair" can be used instead.  This can be supported in both WebRTC 1.0 as well as in ORTC.  The issue is that after ICE nomination, non-selected candidates are prun

[2019-05-13 21:04] aboba commented on #17
@astojilj  Can you prepare a PR for discussion at the June Virtual Interim?

[2019-05-13 21:05] aboba commented on #16
@astojilj  Can you prepare a PR for discussion at the June Virtual Interim?

[2019-05-13 21:08] aboba commented on #13
@lgrahl This is already supported for audio (via Audio Worklets) so the requirement is about efficient processing of raw video data.  Can you prepare a PR?

[2019-05-13 21:10] aboba commented on #12
@lgrahl I suspect we can remove requirement N14.

[2019-05-13 21:11] aboba commented on #11
@lgrahl Yes, I think that is what the document is trying to say.

[2019-05-13 21:15] aboba commented on #9
Since both this issue and Issue https://github.com/w3c/webrtc-nv-use-cases/issues/10 related to "continuous nomination" (which has been implemented), I'm going to classify this issue as a duplicate.

[2019-05-13 21:15] #9 closed

[2019-05-13 21:20] aboba commented on #22
In ORTC, the `RTCSctpTransport` has stats associated with it, but not the `RTCDataChannel` object.  For ORTC, this seems like an oversight.  But the benefit of adding support for this in WebRTC 1.0 seems slim.

[2019-05-13 21:30] aboba commented on #15
@maxogden  There is now a proposal in WICG for client/server QUIC: https://discourse.wicg.io/t/webtransport-proposal/3508
The explainer is here: https://github.com/pthatcherg/web-transport/blob/master/explainer.md
The API is here: https://pthatcherg.github.io/web-transport/

Note that this proposal is for a client/server API, so it doesn't relate to P2P WebRTC use cases (that is covered by WebRTC-

[2019-05-13 21:30] lgrahl commented on #13
Unless you want me to literally copy paste that text, someone else who has more experience with "funny hats" use cases is probably better suited to tackle that topic. :slightly_smiling_face:

[2019-05-13 21:36] lgrahl commented on #15
Sorry for jumping in, but from my perspective the use case has much more profound issues as described above. We should not mix this with a discussion involving a different transport protocol. And the web transport API is not peer-to-peer.

[2019-05-13 22:03] aboba commented on #15
@lgrahl Agreed.  Is there someone willing to present the issue (or a PR) at the June Virtual interim?

[2019-05-15 23:10] #3 closed

[2019-05-15 23:10] #4 closed

[2019-05-15 23:34] #12 closed

[2019-05-15 23:35] #6 closed

[2019-05-15 23:35] #7 closed

[2019-05-15 23:35] #8 closed

[2019-05-16 02:30] #13 closed

[2019-05-16 02:35] aboba commented on #11
Fixed in the latest editor's draft.

[2019-05-16 02:35] #11 closed

[2019-05-16 02:44] aboba commented on #17
@astojilj Can you review the changes to see if they are to your liking?

[2019-05-16 02:44] aboba commented on #16
@astojilj Can you review the proposed changes to see if they are to your liking?

[2019-05-16 15:45] vr000m opened #31 "Need for Initial Bitrate by the Application/RtpSender?"
With the ongoing discussion in the relative bitrate and RTCPriority, I was wondering if providing the initial bitrate to the RTCSender was ever discussed. If it was, what was the outcome of that discussion?

If not, my strawman would be:
This would be a local property for the send media side, and this would be input to the congestion control to start sending at and normal congestion control proced

[2019-05-16 16:10] lgrahl commented on #30
I think this can be closed. We already have a well-tailored solution with https://github.com/w3c/webrtc-pc/issues/1732 which just hasn't been tackled yet (due to @jan-ivar and I being busy).

[2019-05-17 17:59] aboba commented on #16
Merged PR; if this is not adequate, please reopen.

[2019-05-17 17:59] #16 closed

[2019-05-17 18:00] aboba commented on #17
PR merged; if inadequate, please reopen.

[2019-05-17 18:00] #17 closed

[2019-06-03 09:02] lgrahl commented on #15
@aboba Can you give us an estimate of available time to present this use case and the requirements? @feross agreed to present the DHT use case.

[2019-06-03 16:45] aboba commented on #15
I would assume roughly 10 minutes for the presentation and discussion.  The slides are available here:
https://docs.google.com/presentation/d/1UrXARLbAfwmfK686rX_9W_-FGIc62ZDwVd079wIoX7I/edit#slide=id.g30f5366cbe_0_1

[2019-06-03 16:48] #30 closed

[2019-06-10 06:10] jhiesey commented on #15
Some use case proposals here: https://github.com/libp2p/js-libp2p-webrtc-star/issues/177#issuecomment-500303109

[2019-06-11 19:11] #5 closed

[2019-07-04 14:12] murillo128 opened #35 "WebRTC bypass CSP connect-src policies"
As explained in here: https://github.com/w3c/webappsec-csp/issues/92 WebRTC bypass the CSP security policies for connect-src and a malicious script could use webrtc to leak data to a rogue server.

Note that it is note even needed to use datachannels at all, as you could leak data (at low rate) to a specially crafted TURN server on the username:

[code]
IMHO this should be covered at the CSP spec,

[2019-07-04 14:12] alvestrand opened #36 "Integrate CSP access control into algorithms"
If https://github.com/w3c/webappsec-csp/pull/287 lands in the CSP spec, the webrtc spec should specify where and how this access is checked.

As per comment in that thread, suggestion:

The following situations are to be checked according to this directive:

* A host URL occurs in the list of RTCIceServers of an RTCConfiguration when a PeerConnection is created. In this case, the PeerConnection cr

[2019-07-10 18:36] aboba commented on #36
@alvestrand  Does CSP require its own use case, or can we add a CSP requirement an existing use case such as the the Secure Conferencing Use Case PR https://github.com/w3c/webrtc-nv-use-cases/pull/34 ?

[2019-07-10 21:17] aboba opened #37 "Requirements for Secure Web Conferencing"
So far, the [Secure Web Conferencing Use Case PR](https://github.com/w3c/webrtc-nv-use-cases/pull/34) doesn't contain any requirements.  Some questions:

a. Can we trust the central conferencing server to negotiate isolation on remote tracks?  If not, couldn't JS access the remote media and do inappropriate things (e.g. recording, cloning and resending, etc.)?

b. If the JS is untrusted, couldn't

[2019-07-10 21:19] aboba commented on #37
@alvestrand @eomara Any thoughts?

[2019-07-10 23:31] lgrahl commented on #36
I'd classify this as a general issue. It can't really be tied to a specific use case.

[2019-07-15 21:57] aboba commented on #36
@lgrahl.  Makes sense to not tie it to a specific use case.  Will add it to the requirements list and cite it in multiple use cases.

[2019-08-01 14:19] aboba opened #40 "Control surface for header extensions"
Copied from Issue https://github.com/w3c/webrtc-pc/issues/2243

For codecs we have getCapabilities() for figuring out what is supported by the browser, setCodecPreferences() for controlling what to negotiate, and getParameters() to see what was actually negotiated. In addition, getStats() can tell you more details (such as if multiple codecs were negotiated, which one is being used right now).

Sh

[2019-08-01 14:26] aboba commented on #40
Aside from header extensions, there are is also RTCP-related info.  So should in WebRTC 1.0, should we just have a setPreferences() method that covers everything?

[2019-08-01 15:35] aboba opened #41 "API for codec performance"
Copied from Issue https://github.com/w3c/webrtc-pc/issues/2241

Hi Group,

I work on the MediaCapabilities (MC) [spec](https://w3c.github.io/media-capabilities/) ([explainer](https://github.com/w3c/media-capabilities/blob/master/explainer.md)). I've had a few requests from WebRTC apps to expand this API to describe WebRTC encode/decode performance. The use cases make sense but I have some ergonomi

[2019-08-01 15:46] aboba opened #42 "Send transferable data"
Copied from Issue https://github.com/w3c/webrtc-pc/issues/2055

Hi.
I'm using DataChannel to transfer a large file to another peer. While monitoring the performance of my javascript (in chrome v71) I notice `channel.send(uInt8Array)` takes up the most of the scripting time
![skarmavbild 2019-01-12 kl 23 12 58](https://user-images.githubusercontent.com/1148376/51079006-aa1b6f00-16bf-11e9-8ec9-be6a6

[2019-08-05 06:49] jianjunz opened #43 "Use case with 5G edge computing"
5G edge computing infrastructure provides low latency and large bandwidth between client and the edge of the network. I'm wondering if there is any WebRTC use cases could benefit from these new computing resources. Here is the one I came up with.

Case: Video processing at edge
Extends funny hats case. Web application is able to choose running inference and effects algorithm locally, on cloud(larg

[2019-08-05 06:59] dontcallmedom commented on #43
The [Web & Networks Interest Group](https://www.w3.org/web-networks/) is [collecting exactly that kind of use cases][https://github.com/w3c/web-networks/issues) - you may want to contribute it there.

[2019-08-05 08:32] jianjunz commented on #43
Thanks, dontcallmedom.

Discussed with members from Web & Networks IG, they would also like to collect WebRTC use cases and requirements on the lower layer from WebRTC WG.

[2019-08-13 21:28] aboba opened #44 "WHATWG streams for data channel messages"
Copied from: https://github.com/w3c/webrtc-pc/issues/1732

Posted by Lennart Grahl (lgrahl) on January 11, 2018:

There is a long standing issue with large data channel messages in the existing API of RTCDataChannel. If I want to send a single message containing 1 GiB of data (for example a large file), I have to have this gigantic message in memory at the time of sending. If I receive a 1 GiB mes

[2019-08-14 19:47] aboba opened #45 "Accessibility Use Cases"
See: https://www.w3.org/WAI/APA/wiki/Accessible_RTC_Use_Cases

[2019-08-29 08:48] lgrahl commented on #44
Yeah, that should do.

[2019-09-15 05:49] Sean-Der opened #50 "Broadcasting of 1:Many"
Developers are trying broadcast at a large scale. These are the issues they have brought up to me.

* Time spent encrypting/decrypting. The inability to choose CipherSuites means people are using non-HW accelerated (AES-CCM-SHA1 vs AES-GCM) the later they can use things like AES-NI.
* ICE over TCP not being ubiquitous. The ops burden of running TURN servers in high.
* Lack of DRM. They want to bro

[2019-09-15 06:00] Sean-Der opened #51 "Censorship Circumvention/VPN"
This one is mostly inspired by Tor's Snowflake https://snowflake.torproject.org I also have a user who is running Wireguard over Datachannel.

They then access things via VPN over Datachannel in the browser.

The biggest thing I have seen is developers finding ways to make traffic less fingerprintable. This might be an implementation detail, but maybe we can make some of these things configurable

[2019-09-15 07:29] Sean-Der opened #52 "More control over latency/acceptable loss"
IoT/security camera developers keep asking me how to accomplish

* User configurable upper/lower bound latency. They are willing to tolerate loss/higher bandwidth. However they have hard constraints on wanting something to be a certain latency.
* Lossless mode. Developers want to upload video via WebRTC, they don't care about the latency since it isn't being viewed right away but want zero loss. I

[2019-09-17 00:41] alvestrand commented on #44
We seem to have lost any open issue for actually delivering the extension spec (which was fairly strongly outlined in the webrtc-pc bug). Where should we track that?

[2019-09-17 03:48] aboba commented on #50
@Sean-der Low latency broadcast video with DRM (MSE) can be implemented today by streaming VP9/SVC over HTTP/gQUIC, without WebRTC or ICE.  WebTransport (and possibly WebCodecs) might offer improvements, but that kind of usage wouldn't involve peer-to-peer so it can't be considered a WebRTC-NV use case.

[2019-09-17 03:52] aboba commented on #44
@alvestrand Re-opening as a tracking issue for the extension spec.

[2019-09-17 22:32] henbos opened #53 "Advanced Codec Capabilities API"
_Use case:_
Allow applications to make smarter decisions when choosing codecs taking implementation capabilities into account, such as preferring hardware accelerated implementations over non-hardware accelerated ones.

_Proposal:_
New API that allows enumerating encoder and decoder implementations, not just codecs. Each implementation could say if it is HW accelerated or not and what its hard lim

[2019-09-19 08:11] Sean-Der commented on #51
https://trac.torproject.org/projects/tor/wiki/doc/Snowflake/Fingerprinting

[2019-09-20 02:44] henbos commented on #53
Feedback from TPAC-9-19-2019: Define use cases in a PR

[2019-09-20 02:45] henbos commented on #53
I would assign myself and add labels but I don't have those repo permissions it seems :) @aboba @dontcallmedom

[2019-09-20 02:48] henbos commented on #53
Note to self: Also include Chris Cunningham of Media Capabilities API into the discussions, this is _very_ related to that API.

[2019-09-20 04:16] dontcallmedom commented on #53
done @henbos

[2019-09-20 05:05] henbos commented on #53
I still can't assign myself the issue :'(

[2019-09-25 21:00] martinthomson opened #54 "Requirement tables"
HTML has `<table>`.  Why not use it?

[2019-09-27 17:34] bfitec commented on #1
We're having a lot of issues with the new Chrome 77 update and connecting our end users to our deployed IoT devices with a one way connection... Any update on this? Asking a user for microphone/camera to connect them to their toaster is undoable 😂. Is there anything we can do in the meantime to fix our product?

[2019-09-28 01:19] juberti commented on #1
@bfitec can you file a bug at http://crbug.com? Chrome should be able to reach your device without any additional permissions.

[2019-09-28 06:31] steely-glint commented on #1
@bfitec If you do file a bug - please let me know - I'd be happy to chime in.
Alternatively email me and I'd be happy to discuss mitigations.

[2019-09-28 23:08] juberti commented on #1
@steely-glint would you be willing to do a post on webrtchacks regarding this? If you control one of the endpoints a direct connection should be possible with or without mDNS.

[2019-09-28 23:10] juberti commented on #1
TBH I think the OP description on this issue is incorrect; no new API surface is needed for these scenarios.

[2019-09-28 23:15] bfitec commented on #1
@juberti I've had problems connecting over a relay after Chrome 77. Chrome is telling my STUN/TURN servers that the browser "hostCandidate" is null (hostCandidate: "[0:0:0:x:x:x:x:x]:58670") then the STUN/TURN says something around about 'Host lookup failed'.

[2019-09-28 23:18] bfitec commented on #1
Here is the w3c description of hostCandidate ([](https://w3c.github.io/webrtc-pc/#attributes-6)):

[2019-09-29 01:13] juberti commented on #1
Chrome doesn't send hostCandidate to the TURN servers; that's provided to the JS application. And who is looking up hostCandidate? Nobody should be using hostCandidate for anything except debugging.

[2019-09-29 09:39] steely-glint commented on #1
Interesting idea. I’ll see if I can gather some usable data and a narrative to make a readable blog post.

[2019-09-30 17:56] juberti commented on #1
@bfitec, any more thoughts on this?

[2019-10-01 09:32] lgrahl commented on #1
Putting mDNS aside, I think this is also about mode 1 vs mode 2/3. The above mentioned use cases should also be able to leverage themself into the "best available mode" just as gUM usually does nowadays. And that issue can be resolved by e.g. https://github.com/w3c/webrtc-pc/pull/2175

[2019-10-01 17:31] juberti commented on #1
While that makes sense in theory, I think you'll need to show a more specific need regarding why the current APIs are insufficient. I actually think this particular bug is underspecified and perhaps should be closed.

[2019-10-01 17:38] steely-glint commented on #1
I've stumbled on an interesting example - admittedly under tested, since I don't have access to the relevant hardware ;-)
The latest Tesla software update ships with chromium as the browser with working webRTC, but no input media (as far as I can tell) or mdns. This means that a smartphone _inside_ the tesla can't send webRTC video directly to the screen, it has to use an external TURN server.

[2019-10-01 18:05] juberti commented on #1
I don't follow the reasoning. The Tesla implementation should hand out host IPs, right? And if not, the smartphone will. So what's the issue?

[2019-10-01 18:23] steely-glint commented on #1
Sorry, to be clear, both ends of this scenario are browsers. I am assuming that the smartphone is running latest chrome.
The tesla has a web browser (URL bar and all) which is a port of chromium - so I assume when they upgrade to 78 then it _won't_ send host IPs unless it has GUM - which it won't since it has no User Media available (as far as I can tell).
Chrome/safari on smartphone won't supply

[2019-10-01 18:26] juberti commented on #1
OK, that helps. But still, Tesla and phone will both be on separate cell networks and a direct host-host connection won't be possible, right? (unless you're sitting in your garage with wifi)

[2019-10-01 18:29] steely-glint commented on #1
Turns out that the video tag is disabled unless you are in 'park' so being on wifi (or tethered to the smartphone) is a pretty plausible situation.

[2019-10-01 18:34] juberti commented on #1
Tethering a Tesla to a smartphone seems like a true corner case; if you could do the reverse it would be a more plausible scenario. Regardless, I agree with the meta-point; when both ends support only mDNS, a direct connection is not possible in some cases. (Suggest the bug title and description be updated accordingly.)

[2019-10-06 14:52] the8472 commented on #15
Note that the lack of STUN servers and high rate of connection setup/teardowns for iterative lookups in a distributed environment means that the browser would have to work harder to make the listening sockets reachable through NATs and firewalls, e.g. by negotiating via UPnP IGD/PMP/PCP with the gateway devices and allowing clients to coordinate hole punching (simultaneous open) through other node

[2019-10-06 15:07] the8472 commented on #10
Couldn't this be done on the transport level instead? MP-TCP is deployed on some android devices and MP-QUIC is an IETF draft. Adding and signalling additional endpoints is done by a userspace daemon that reacts to network changes such as roaming between wifi and mobile.

[2019-10-06 18:01] juberti commented on #10
@the8472 it would be much easier to do this in ICE with QUIC running atop ICE as a virtual transport. As @aboba says, almost all the stuff we need is already there.

[2019-10-06 18:08] juberti commented on #15
Webtransport does have a p2p mode IIUC, I think that will help a fair amount with setup delays, and I think it would also address the reusable SDP question (although may need some ICE work too to better support 'forking')

STUN servers should still be usable and able to achieve direct connections the vast majority of the time, as in current cases/

[2019-10-06 18:18] the8472 commented on #15
STUN servers are still not exactly distributed and AIUI peers would have to agree on using a specific set of servers, no? It doesn't seem adequate for many p2p protocols anyway where you really want your ports opened to unsolicited incoming connection.

[2019-10-06 18:22] juberti commented on #15
STUN servers are pretty ubiquitous and peers don't need to agree on which ones.

[2019-10-08 10:20] lgrahl commented on #15
The WebTransport spec currently does not define a P2P mode. For WebRTC, @pthatcherg did propose APIs on last TPAC (which I couldn't attend) how to make it work.

[2019-10-16 20:38] juberti commented on #15
right, it seems like that hasn't made it into the WT spec yet. Generally, I think it's simply replacing host:port with ICETransport/certificate fingerprint, and the rest is straightforward.

[2019-10-17 02:58] aboba commented on #15
@juberti @lgrahl @pthatcherg
The [RTCQuicTransport object](https://w3c.github.io/webrtc-quic/#rtcquic-transport*) supports P2P operation and is defined as inheriting from [QuicTransportBase](https://wicg.github.io/web-transport/#quic-transport-base), which is defined in WebTransport.  We haven't reviewed it since moving WebTransport over to WHATWG Streams, but I believe the intent is still for the

[2019-10-17 18:28] pthatcherg commented on #15
The scope of WebTransport is currently the general framework plus specific
client-server implementations.

RTCQuicTransport uses the general framework of WebTransport for p2p QUIC.
However, almost all of the focus of those involved with RTCQuicTransport
has lately been on client-server, so RTCQuicTransport has fallen behind a
bit and could at some point use some updates.

What I presented at TPAC

[2019-10-17 18:41] juberti commented on #15
c) seems like the most straightforward approach.

[2019-10-17 19:02] aboba commented on #15
Agree that c) is the most promising.  Ortc lib supports b) and is in use by games developers who care about footprint and generally are not SDP-savvy, thereby preferring b) to a).  However, when asked about the future, games developers seem to prefer c) over b) since it would allow them to utilize WebTransport with stats support to address both client/server and p2p aspects of their games, as well

[2019-10-21 09:05] lgrahl commented on #15
Would find it sad to see b) not being pursued but I can see the value in shedding off some complexity (that DTLS/SCTP undoubtedly brings) iff this is incompatible with WebRTC/ORTC anyway.

[2020-01-06 21:51] aboba opened #56 "Peer Connection and back/forward cache"
Moved from https://github.com/w3c/webrtc-pc/issues/2346

Current browsers do not add pages that have a live (or connected) peer connection to the b/f cache. It would be interesting to enable this. One possibility is for these connections to simulate connection failure so that, should the page be shown from b/f cache, the application logic would try to restart a connection.

A 'b/f cache', or 'page

[2020-01-06 21:53] aboba opened #57 "do we need RTCCbrStatus?"
Moved from https://github.com/w3c/webrtc-pc/issues/2301

Do we need RTCCbrStatus for [opus cbr](https://tools.ietf.org/html/rfc7587#section-3.1.2)?
The description would be somewhat similar  to the [dtx one](https://w3c.github.io/webrtc-pc/#dom-rtcrtpencodingparameters-dtx) (which is marked as at-risk?!)

Since @aboba asked: even without an API it is still possible to munge the SDP to enable this.

[2020-01-06 23:03] jesup commented on #56
Note that typically any page with an active http(s) connection will be blocked from the bfcache, as will any page with an unload/beforeunload (and other things too...).   Chrome is experimenting with a bfcache implementation as well now.
A major downside would be that we would freeze the implementation (so all the packets); freeze capture (and then restore it - would it need to be reprompted?   No

[2020-01-07 07:05] youennf commented on #56
FWIW, this is now done in Safari Tech Preview.
A good b/f cache is a net user experience gain. A lot of pages are creating peer connections and not closing them or doing so for the purpose of stealing IP addresses.

That is how it is done in Safari. We basically simulate a network failure.
This is something websites should be prepared for, at least in theory.

We have done similarly for web socket

[2020-01-10 14:57] lgrahl opened #58 "Obtain user consent for one-way media and data use cases"
This is a backport from https://github.com/w3c/webrtc-nv-use-cases/pull/14 I would like to get added to WebRTC 1.0:

### Rationale

There are use cases that would love to request user consent but cannot use `getUserMedia`, namely unidirectional audio/video or data only use cases. For example, security cameras, baby monitors, drones, MOOCs, remote device access, easy file transfer, multiplayer game

[2020-01-22 23:46] aboba commented on #54
Done.

[2020-01-22 23:46] #54 closed

[2020-02-05 10:24] shacharz opened #59 "Local IP obfuscation"
Host-to-Host connectivity is essential for use cases like enterprise streaming over large local networks. On the other hand, privacy concerns require that local IPs are not revealed.

A few solutions have been considered:

1. [Limiting the exposed candidates]( https://tools.ietf.org/html/draft-ietf-rtcweb-ip-handling-12)
2. [mDNS](https://tools.ietf.org/html/draft-ietf-rtcweb-mdns-ice-candidates-0

[2020-02-05 12:47] lgrahl commented on #59
Due to 2., Chrome Enterprise can never be a complete solution for this kind of problem, so I'd search for a more broadly usable solution.

Note: This is basically within the scope of #1.

[2020-02-06 06:08] juberti commented on #59
You don't need a special version of the browser to push policies to Chrome, so I think this can be a pretty general solution. I think the exact mechanism is out of scope of WebRTC NV though.

[2020-02-28 13:50] AshleyScirra commented on #44
Just want to point out: support for streams over DataChannels would make it very easy to make a compressed DataChannel, by adding a CompressionStream and DecompressionStream at either end.

[2020-07-08 16:28] interfect opened #60 "Using WebRTC peer-to-peer networks to back Service Workers"
Currently all the use case document says about WebRTC-NV and workers is:

https://github.com/w3c/webrtc-nv-use-cases/blob/d053ca91165f9f522f6fc39ba3c10c5ce011b30e/index.html#L204-L208

https://github.com/w3c/webrtc-nv-use-cases/blob/d053ca91165f9f522f6fc39ba3c10c5ce011b30e/index.html#L310-L319

A lot of people over at https://github.com/w3c/webrtc-pc/issues/230 and related PRs have been asking for

[2020-07-21 03:49] jianjunz opened #62 "Low latency streaming with WebTransport + WebRTC"
The use case is low latency realtime live streaming from server to browser. The server could be a SFU or a cloud gaming server.

Nowadays, we can achieve it by using WebRTC 1.0 or WebTransport + MSE, but both of them are not perfect. WebRTC involves ICE which is not required by server-client architecture. WebTransport + MSE, more specifically, reliable QuicStream + MSE, may have large latency than

[2020-07-21 08:23] aboba commented on #62
Currently WebRTC offers support for advanced video features (e.g. simulcast, SVC, etc.) that are not included in WebCodecs. As a result, I can see how it might be desirable to be able to utilize Insertable Streams along with WebTransport for a scenario involving media upload (e.g. flow of media from browser client to server).  For this scenario to work properly, it would be necessary for the bandw

[2020-07-21 10:06] jianjunz commented on #62
Hi aboba, thanks for your reply.

I agree that bandwidth estimation from WebTransport is important to WebRTC encoder. It is one thing could help to reduce the latency.

RTP packetizer/de-packetizer, RTX, FEC are also helpful. As we already have them implemented in WebRTC, I'm wondering does it make sense to defined some sort of interfaces and expose them to web applications? So web developers don'

[2020-07-22 16:39] aboba opened #63 "Call forking use case"
At the July 8 meeting of the WebRTC WG, Peter Thatcher presented a call forking use case.  This use case required ICE forking, so that all endpoints can be rung simultaneously.  Slides are [here](https://docs.google.com/presentation/d/1rHXd5vxv_ME5r2TgpLPhJlD2iq0lcxQCsYbuT6fg0dc/) (presentation starts at slide 12).

[2020-07-22 16:45] aboba commented on #50
At the July 8 meeting of the WebRTC WG, there was consensus that this use case should be moved to the WebTransport use case repo once it is established.

[2020-11-28 20:05] aboba commented on #63
PR https://github.com/w3c/webrtc-nv-use-cases/pull/64 applied in latest editor's draft.

[2020-11-28 20:05] #63 closed

[2020-12-28 23:30] ivelin commented on #60
Thanks for opening this issue, @interfect .

Another use case that can benefit from allowing webrtc access in service workers is enabling frontend frameworks like Vue/Vuetify to access remote IoT edge devices via standard html fetch() without worrying about all the mechanics of p2p connectivity.

https://webrtchacks.com/private-home-surveillance-with-the-webrtc-datachannel/

Additional benefit wou

[2021-01-15 06:49] murillo128 commented on #57
note that `cbr` `useinbandfec` and `usedtx` usage on SDP only expresses that the decoder on the receiver prefers cbr, fec or dtx, but in no way controls what the encoder on any of both sides must use:

[code]

So the SDP mungling that is allowed by current implementation is just a hack due to the lack of APIs and in no way is backed up by any standard.

[2021-02-24 16:25] dogben opened #70 "standardized support for captions/subtitles"
The [WebRTC Next Version Use Cases doc](https://w3c.github.io/webrtc-nv-use-cases/) lists three use-cases under [Funny hats](https://w3c.github.io/webrtc-nv-use-cases/#funnyhats*) related to plain-text associated with media: [Captioning, Transcription, and Language translation](https://github.com/w3c/webrtc-nv-use-cases/blob/f937a4fdf26d4b2dedefce371425a952be8ad05b/index.html#L279). However, there

[2021-03-19 11:08] fippo commented on #70
see also https://blog.google/products/chrome/live-caption-chrome :-)
It would be good to have programmatic access to those results. But how would that look like:
[code]
which then returns a stream with two tracks - one audio, the other text.
Or would the transcription be something you can request from the audio track?

[2021-05-21 16:09] epes opened #72 "Expose SCTP sequence number through Data Channel Message object"
https://datatracker.ietf.org/doc/html/rfc4960#section-1.5.2

It would be great if this sequence number was exposed through the Data Channel Message object to detect duplicates or message loss at the application layer without appending a sequence number to the message itself.

[2021-05-21 16:53] jesup commented on #72
Obviously for ordered channels (without setting MaxTransmits) this is irrelevant.

The Web API doesn't actually reference SCTP I believe and in theory could operate over different underlying protocols, but we could (if we want) define an equivalent message sequence number that could be exposed.   However I think this would need to be related to the calls to Send(), which may be different than the

[2021-05-21 17:09] lgrahl commented on #72
Just a note since I don't have a strong opinion on either way: The data channel API spec was abstract at first but is now very much tied to SCTP, so this should not be an issue.

[2021-05-21 17:59] epes commented on #72
I agree that if the underlying protocol would be something other than SCTP then the effort might outweigh the benefit. I'm not familiar with how prescriptive the spec is of SCTP but if it's true that they're tied together, it doesn't seem as much effort to expose something that's already parsed and available.

[2021-05-24 09:31] zhuker commented on #72
+1

[2021-05-24 13:04] boivie commented on #72
SSNs may only be assigned to ordered messages, and in the sent DATA chunks, the SSN may not be set for unordered messages; https://datatracker.ietf.org/doc/html/rfc4960#section-6.6

Also, with support for interleaved messages (RFC8260), the MID replaces the SSN (and is also provided for unordered messages).

I would recommend not exposing any SCTP variables like this, but instead having the client

[2021-05-24 16:06] lgrahl commented on #72
Thanks for that input. Since the SSN cannot be used, the TSN makes no sense in that context, we cannot rely on ndata/RFC8260 being present all the time and transmitting a sequence number in userspace is trivial, I'd prefer to keep the web API and the underlying data channel protocol as simple as possible and make no modifications in that regard.

[2021-05-24 17:23] epes commented on #72
Makes sense, I was not aware that the SSN was optional for unordered messages.

[2021-05-24 17:23] #72 closed

[2022-02-02 18:01] darkvertex opened #74 "Detailed example of potential value of A/V/data sync in WebRTC"
[_I originally wrote this in the [W3C strategy repo](https://github.com/w3c/strategy/issues/133) and @dontcallmedom suggested I drop an issue here for greater visibility, so here goes..._]

I'd like to share you a first hand VR-related use case where synced A/V/data could have been very useful at my job:

My team needed to deliver N concurrent synced video feeds from a multi-lens VR camera rig fro

[2022-02-02 18:47] aboba commented on #74
Thank you for the detailed explanation.  The [existing AR/VAR use case ](https://www.w3.org/TR/webrtc-nv-use-cases/#vr*) is not enabled by [WebRTC-encoded transform](https://w3c.github.io/webrtc-encoded-transform/) due to inability to [control packetization](https://github.com/w3c/webrtc-encoded-transform/issues/131).  But if we can address that the approach you describe might work.

The other ave

[2022-04-28 14:38] jimmywarting commented on #60
new semantic to the service worker allows for website to extend the lifetime of a service worker with a promise to live indefinitely (as long as there is any owning tab open to that service workers scope)
it's similar to waitUntil i suppose...

anyhow, the (new?) waitUntil will therefor be respectful of the developers decision so folks don't have to abuse the lifetime with pinging a service worker

[2022-09-15 23:04] fluffy opened #76 "Support for End to End Encryption (E2EE)"
Ability to provide end to end encryption for audio and video media. The goal is to make sure that a compromise in the cloud, including wherever the JS came from, does not result in in a loss of the private data.

[2022-11-27 13:59] alvestrand opened #77 "Use case: Broadcast with late fanout"
A particular use case for WebRTC is real time media distribution (case 3.2).
One subset of this use case allows one participant in the distribution network to relay media to another participant in the network - for bandwidth sharing, for resilience, or to route around unreachable hops.

This brings with it requirements:

Nxx: A node must be able to forward media received from another node to a thi

[2022-11-28 03:42] bdrtc opened #78 "use case:disable A/V sync for remote control or online gaming"
sometimes online cloud gaming or remote control need very low video latency,  they may need playout delay video extension in sender side , and set the min/max delay to 0 as describe in [playout-delay draft](https://webrtc.googlesource.com/src/+/main/docs/native-code/rtp-hdrext/playout-delay/README.md)

but it only control video delay and is best effort, it will also be affected by audio and video

[2022-11-28 09:03] fippo commented on #78
I don't think there is action needed, it is already possible to not enable AV sync.

[2022-11-28 09:20] bdrtc commented on #78
yes, it's possible by change sdp, i do't think  it's a good way, most users may do't kown how to achive this by default and even do't kown disable A/V sync will optimaze such use cases.

[2022-11-28 13:23] henbos commented on #78
The A/V sync group is controlled by the stream group though, so if you don't want the two tracks to be synced and don't want to SDP munge, can you not simply not put them in the same stream?

[2022-11-28 21:09] aboba commented on #76
Currently we only have a use case for ["Untrusted JS Cloud Conferencing"](https://www.w3.org/TR/webrtc-nv-use-cases/#untrusted*).  This sounds like a "Trusted JS Cloud Conferencing" use case.

[2022-11-28 22:42] aboba commented on #77
Should we add an additional requirement for Section 3.2.2 (Low latency Broadcast)?  Today, the relays often handle containerized content (CMAF) with rendering handled via MSE. But if there is no need for DRM then containerization is unnecessary so that it would be desirable to support relaying of raw media over WebRTC, WebTransport, RTCDataChannel, etc.

Question: "is content negotiation" the requ

[2022-11-29 07:37] alvestrand commented on #77
"content negotiation" was my shortform for "the outgoing PC may have negotiated different payload types from the incoming PC for the same codec" (and will certainly use a different SSRC).

3.2.2 seemed to focus on low latency from a central server directly to the end node, which is why I thought it best to formulate redistribution as a new use case.

[2022-11-29 11:07] bdrtc commented on #78
great, that make sence,  summarize it here for those may have such requirement for low interactive delay scenario
1. use  [playout-delay extension](https://webrtc.googlesource.com/src/+/main/docs/native-code/rtp-hdrext/playout-delay/README.md) in sender end.
2. disable A/V sync in receiver end.

[2022-11-29 12:29] henbos commented on #78
I may lack context but I don't think the receiver should be the one to disable A/V sync, if the sender sets the sync group up correctly then the receiver can just accept what they are offered, no need for special logic or having different stream groups on different endoints.

[2022-11-30 02:35] bdrtc commented on #78
in p2p mode this is ok, but in sfu mode it's hop by hop not end2end negotiation.  perform it in receiver maybe more suitable

[2022-11-30 11:50] fippo commented on #78
on the receive side this is controlled by what the values of the msid field in the SDP are. What a SFU (or another server) puts there is not controllable via a browser API.

[2022-11-30 16:10] alvestrand commented on #77
If we merge #79 , I think we can close this issue as fixed.